// Headings / Desktop
@media (min-width: 1440px) {
  .bodyText1 {
    font-family: var(--f-regular);
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  .bodyText2 {
    font-family: var(--f-regular);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .bodyText3 {
    font-family: var(--f-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .button {
    font-family: var(--f-bold);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

// Headings / Tablet
@media (min-width: 768px) and (max-width: 1439px) {
  .bodyText1 {
    font-family: var(--f-regular); // --f-bold
    font-size: 14px;
    line-height: 20px;
  }

  .bodyText2 {
    font-family: var(--f-regular);
    font-size: 12px;
    line-height: 16px;
  }

  .bodyText3 {
    font-family: var(--f-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .button {
    font-family: var(--f-medium);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

// Headings / Mobile
@media (min-width: 320px) and (max-width: 767px) {
  .bodyText1 {
    font-family: var(--f-regular);
    font-size: 16px;
    letter-spacing: 0%;
  }

  .bodyText2 {
    font-family: var(--f-regular);
    font-size: 14px;
    line-height: 17.85px;
    letter-spacing: 0%;
  }

  .bodyText3 {
    font-family: var(--f-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .button {
    font-family: var(--f-medium);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}
