// Headings / Desktop
@media (min-width: 1440px) {
  h1 {
    font-family: var(--f-bold);
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -3px;
  }

  h2 {
    font-family: var(--f-bold);
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;
  }

  h3 {
    font-family: var(--f-regular); // --f-bold
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  button {
    font-family: var(--f-bold);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

// Headings / Tablet
@media (min-width: 768px) and (max-width: 1439px) {
  h1 {
    font-family: var(--f-bold);
    font-size: 52px;
    line-height: 57.2px;
    letter-spacing: -2px;
  }

  h2 {
    font-family: var(--f-bold);
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0%;
  }

  h3 {
    font-family: var(--f-bold);
    font-size: 16px;
    line-height: 20.4px;
    letter-spacing: 0%;
  }

  button {
    font-family: var(--f-medium);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

// Headings / Mobile
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-family: var(--f-bold);
    font-size: 36px;
    line-height: 39.6px;
    letter-spacing: -1px;
  }

  h2 {
    font-family: var(--f-bold);
    font-size: 24px;
    line-height: 30.6px;
    letter-spacing: 0%;
  }

  h3 {
    font-family: var(--f-bold);
    font-size: 20px;
    line-height: 25.5px;
    letter-spacing: 0%;
  }

  button {
    font-family: var(--f-medium);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}
