$white-color: #ffffff;
$gray01-color: #a4adac;
$gray02-color: #d6dbdb;
$gray03-color: #e8edee;
$gray04-color: #f2f6f6;
$black-color: #1d1d1b;
$orange-color: #ff5900;
$dark-orange-color: #e0570e;
$error-color: #ff4026;
