@import "/src/app/styles/variables.scss";
@import "/src/app/styles/typography.module.scss";

.section {
  width: 100vw;
  background-color: $gray04-color;
  padding-top: 109.2px;
  padding-bottom: 95px;

  & .column {
    margin: 0 auto;
    padding-bottom: 66px;
    max-width: 1220px;
    width: 100%;
    min-height: 443px;
    height: 100%;

    & .content {
      margin: 0 30px;

      & .title {
        text-align: center;
      }

      & .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;

        & .block {
          display: flex;
          flex-direction: column;
          max-width: 300px;
          height: 258px;
          width: 100%;
          justify-content: center;
          padding-left: 32px;
          padding-right: 40px;

          & img {
            margin: 4px;
          }

          & h3 {
            margin-top: 16px;
            width: 180px;
          }

          & .bodyText2 {
            max-width: 241px;
            width: 100%;
            margin-top: 16px;
          }
        }

        & .block_center {
          position: relative;
          width: 100%;
          background-image: url("/twoArrayAndLogo.png");
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: -50%;

          & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
