.section {
  width: 100vw;
  padding-top: 89.2px;
  padding-bottom: 106.07px;

  & .wrapper {
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
    min-height: 122px;
    height: 100%;

    & .content {
      height: 122px;
      margin: 0 70px 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & .row {
        display: flex;
        gap: 81px;

        & img {
          align-self: center;
        }
      }
    }
  }
}
